@font-face {
    font-family: 'Mongolian Universal White';
    src: url('MongolianUniversalWhite.woff2') format('woff2'),
        url('MongolianUniversalWhite.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

